<button
  type="button"
  name="color"
  class="featured-product__color flex border p-0 rounded-lg w-24 h-24 hover:cursor-pointer transition-colors {% if section.settings.dark_mode %}border-gray-600 hover:border-white{% else %}border-transparent hover:border-black{% endif %}{% if is_first %} featured-product__btn--active{% endif %}"
  data-variant-image="{{ variant.featured_image | image_url: width: 536 }}"
  data-variant-image-alt="{{ variant.featured_image.alt }}"
  data-color-name="{{ variant.option1 | downcase }}"
  data-variant-id="{{ variant.id }}"
>
  {{
    variant.featured_image
    | image_url: width: 176
    | image_tag:
        class: 'block object-cover rounded-lg w-full h-full',
        width: 88,
        height: 88,
        sizes: '88px',
        widths: '88,176',
        loading: 'lazy',
        alt: variant.featured_image.alt | default: variant.option1 | escape
  }}
</button>
