<header>
  <div>
    <h1>{{ shop.name }}</h1>
  </div>

  <nav>
    {% if section.settings.menu.links == blank %}
      {% assign main_menu_linklist = linklists[section.settings.menu].links %}
    {% else %}
      {% assign main_menu_linklist = section.settings.menu.links %}
    {% endif %}
    {% for link in main_menu_linklist %}
      {% if link.links != blank %}
        <div>
          <span>{{ link.title }}</span>
          <div>
            {% for childlink in link.links %}
              <a href="{{ childlink.url }}">
                <p>{{ childlink.title }}</p>
              </a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>

  <div>
    <a href="{{ routes.cart_url }}">
      {{ 'icon-shopping-bag.svg' | inline_asset_content }}
    </a>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="{{ routes.account_url }}">account</a>
        {{ 'Log out' | customer_logout_link }}
      {% else %}
        {{ 'Log in ' | customer_login_link }}
        {{ 'Register' | customer_register_link }}
      {% endif %}
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "id": "menu-title",
      "label": "Title",
      "default": "Menu",
      "info": "This is a title of the Menu"
    }
  ]
}
{% endschema %}
